:root {
	/* --project-list-height: 30em; */
	--project-height: 26em;
	--project-width: 20em;
}

.projectList {
	background-color: var(--theme-green-2);
	padding: 0.2em;
	/* min-height: var(--project-list-height); */
	display: flex;
	flex-direction: column;
	border-radius: 0.3em;

	ul {
		background-color: var(--theme-green-0);
		border-radius: 0.3em;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		padding: 1em;

		/* > li,
		> button {
			background-color: var(--theme-green-1);
			color: white;
			border-radius: 0.2em;
			padding: 0.5em;
			min-height: var(--project-height);
			width: var(--project-width);
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
				rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
				rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

			h3 {
				margin-bottom: 0.6em;
			}

			div {
				background-color: var(--theme-green-2);
				padding: 0.2em;
				border-radius: 0.3em;
			}
		} */

		button {
			background-color: transparent;
			color: white;
			font-weight: bold;
			border: 0.6em dashed white;
			display: flex;
			justify-content: center;
			box-shadow: none;
			cursor: pointer;
			border-radius: 0.2em;
			width: var(--project-width);
			height: var(--project-height);

			p {
				font-size: 5em;
				line-height: 0.8;
				padding: 0;
				align-self: center;
			}
		}
	}
}

.todoList {
	background-color: var(--theme-green-1);
	color: white;
	border-radius: 0.2em;
	padding: 0.5em;
	min-height: var(--project-height);
	width: var(--project-width);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	> h3 {
		margin-bottom: 0.6em;
	}

	> div {
		background-color: var(--theme-green-2);
		padding: 0.2em;
		border-radius: 0.3em;

		> ul {
			button {
				height: 12em;
				font-size: 0.6em;
				width: 100%;

				p {
					font-size: 3.2em;
				}
			}
		}
	}
}
