.todo {
	background-color: var(--theme-green-2);
	color: var(--theme-yellow);
	font-size: 1.1em;
	padding: 0.6em;
	border-radius: 0.4em;
	box-shadow: var(--list-item-shadow);
	margin-bottom: 0.6em;
	height: fit-content;

	&:last-of-type {
		margin-bottom: 0.6em;
	}

	h4 {
		font-size: 1.1em;
	}
}
