.button {
	background-color: transparent;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none;
	border-radius: 0.2em;
}
.button:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

.projectList {
	width: var(--project-width);
	min-height: var(--project-height);
	border: 0.6em dashed white;
}

.todoList {
	width: 100%;
	height: var(--todo-height);
	border: 0.35em dashed white;
}
