.button {
	border: 0;
	padding: 0;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	background: transparent;
	color: var(--theme-orange-1);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 0.2em;
}
