.doneButtonContainer {
	padding: 0.3em 0;
	display: flex;
}

.doneButtonContainer button {
	width: 4.2em;
	height: 2em;
	border: none;
	border-radius: 0.4rem;
	background: none;
	padding: 0;
	position: relative;
	cursor: pointer;
	outline: none;
	color: #d0d0d0;
}

.doneButtonContainer button::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #f1f1f1;
	border-radius: 0.4rem;
	box-shadow: var(--basic-shadow);
	transition: var(--ease-transition);
}

.doneButtonContainer button:focus-visible {
	outline: 2px solid #d0d0d0;
	outline-offset: 2px;
}

.doneButtonContainer button[aria-pressed="true"]::before {
	background-color: #8ce196;
}

.doneButtonContainer button::after {
	content: "✘";
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: white;
	border-radius: 0.4rem;
	font-size: 1.1em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--basic-shadow);
	transition: var(--ease-transition);
	top: 0;
	left: 0;
}

.doneButtonContainer button[aria-pressed="true"]::after {
	transform: translateX(100%);
	content: "✔";
	color: var(--theme-green-1);
}
