.todoList {
	background-color: white;
	color: var(--theme-green-2);
	border-radius: 0.2em;
	padding: 0.5em;
	min-height: var(--project-height);
	width: var(--project-width);
	box-shadow: var(--list-item-shadow);
	display: flex;
	flex-direction: column;
	position: relative;

	> h3 {
		margin-bottom: 0.6em;
	}

	> button {
		border: 0;
		position: absolute;
		right: 0.5em;
		background: transparent;
		font-weight: bold;
		color: var(--theme-green-2);
		padding: 0.35em;
		line-height: 0.9em;

		p {
			font-size: 1.4em;
			color: var(--theme-yellow);
		}
	}

	> div {
		background-color: var(--theme-yellow);
		padding: 0.2em;
		border-radius: 0.3em;
		display: flex;
		flex-direction: column;
		flex: 1;

		> ul {
			background: linear-gradient(
				33deg,
				var(--theme-green-2),
				var(--theme-green-1),
				var(--theme-green-2)
			);
			border-radius: 0.3em;
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 1em;
			padding: 1em;
			flex: 1;

			> button {
				height: 16em;
				font-size: 0.6em;
				width: 100%;
				background-color: transparent;
				color: white;
				font-weight: bold;
				border: 0.6em dashed white;
				border-radius: 0.2em;
				box-shadow: none;

				p {
					font-size: 3.2em;
				}
			}
		}
	}
}
