.todoList {
	background-color: white;
	color: var(--theme-green-2);
	border-radius: 0.2em;
	padding: 0.5em;
	min-height: var(--project-height);
	width: var(--project-width);
	box-shadow: var(--list-item-shadow);
	display: flex;
	flex-direction: column;
	position: relative;
}

.header {
	display: flex;
	margin-bottom: 0.4em;

	> div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.ulContainer {
	background-color: var(--theme-orange-1);
	padding: 0.2em;
	border-radius: 0.3em;
	display: flex;
	flex-direction: column;
	flex: 1;

	> ul {
		background: linear-gradient(
			33deg,
			var(--theme-green-2),
			var(--theme-green-1),
			var(--theme-green-2)
		);
		border-radius: 0.3em;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
		flex: 1;
	}
}
