.header {
	background-color: white;
	padding: 1em 1em 0.6em;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	display: flex;
	align-items: center;
	box-shadow: var(--basic-shadow);
	justify-content: space-between;
	gap: 1em;

	p {
		border: 1px solid transparent;
		font-size: 1.2em;
	}
	input {
		border: 1px solid var(--theme-green-2);
		color: var(--theme-green-2);
		font-size: 1.2em;
		border-radius: 0.2em;
	}
}

.body {
	overflow: hidden;
	height: 0;
	transition: var(--ease-transition);
	margin: 0 0.4em;
	background-color: white;
	position: relative;

	div {
		padding: 0.6em 0.4em;
		display: flex;
		flex-direction: column;
		gap: 1em;

		button {
			align-self: flex-end;
		}
	}

	input,
	textarea {
		border: 1px solid var(--theme-green-2);
		color: var(--theme-green-2);
		padding-left: 1ch;
		border-radius: 0.2em;
	}
	label {
		display: flex;
		align-items: center;
		gap: 0.4em;
		flex-wrap: wrap;
	}
	textarea {
		resize: vertical;
	}
}

.footer {
	background-color: white;
	padding: 0.6em 1em 1em;
	border-bottom-left-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.open {
	height: max(200px, 100%);
}
