.capsule {
	background-color: transparent;
	padding: 0.2em;
	display: flex;
	flex-direction: column;
}

.header,
.body,
.footer {
	padding: 0.2em;
	background-color: #f0f0f0;
}

.header {
	/* background-color: red; */
}

.body {
	/* background-color: greenyellow; */
	overflow: hidden;
	height: 0;
	/* transition: height 0.3s ease; */
	transition: var(--ease-transition);
	/* transition: max-height 0.4s ease; */
}

.footer {
	/* background-color: purple; */
}

.open {
	height: 200px;
}
