@import url("./reset.css");

:root {
	--header-height: 5em;
	--theme-yellow: #f38c79;
	--theme-yellow-2: #ffc1b4;
	--theme-green-0: #90d1ca;
	--theme-green-1: #129990;
	--theme-green-2: #034c53;
	--page-padding: 2em;
	--list-item-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 640px) {
	:root {
		--page-padding: 1em;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	flex-direction: column;
	background-color: var(--theme-yellow-2);
}

header {
	height: var(--header-height);
	background-color: var(--theme-green-2);
	display: flex;
	align-items: center;
	padding-left: var(--page-padding);
	color: var(--theme-yellow-2);
	font-size: 1.4em;
}

main {
	background-color: transparent;
	padding: var(--page-padding);

	h2 {
		margin-bottom: 0.6em;
		color: var(--theme-green-2);
		font-size: 1.8em;
	}
}

button {
	cursor: pointer;
	border: 0;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
