@import url("./reset.css");

:root {
	--header-height: 5em;
	--theme-yellow: #fffbde;
	--theme-green-0: #90d1ca;
	--theme-green-1: #129990;
	--theme-green-2: #096b68;
	--page-padding: 2em;
}

@media (max-width: 640px) {
	:root {
		--page-padding: 1em;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	flex-direction: column;
	background-color: var(--theme-green-1);
}

header {
	height: var(--header-height);
	background-color: var(--theme-green-2);
	display: flex;
	align-items: center;
	padding-left: var(--page-padding);
}

main {
	min-height: calc(100vh - var(--header-height));
	background-color: transparent;
	padding: var(--page-padding);

	h2 {
		margin-bottom: 0.6em;
	}
}
