@import url("./reset.css");

:root {
	--header-height: 5em;
	--theme-orange-0: #ffc1b4;
	--theme-orange-1: #f38c79;
	--theme-green-0: #90d1ca;
	--theme-green-1: #129990;
	--theme-green-2: #034c53;
	--page-padding: 3rem;
	--list-item-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	--project-height: 32em;
	--project-width: 20em;
	--todo-height: 10em;
	--basic-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	--button-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	--ease-transition: all 440ms ease-in-out;
}

@media (max-width: 640px) {
	:root {
		--page-padding: 1rem;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--theme-orange-0);
}

header {
	height: var(--header-height);
	background-color: var(--theme-green-2);
	display: flex;
	align-items: center;
	padding-left: var(--page-padding);
	color: var(--theme-orange-1);
	font-size: 1.4em;
}

main {
	background-color: transparent;
	padding: var(--page-padding);

	h2 {
		margin-bottom: 0.6em;
		color: var(--theme-green-2);
		font-size: 1.8em;
	}
}

button {
	cursor: pointer;
	border: 0;
	padding: 0.2em;
	background: transparent;
	color: var(--theme-orange-1);
	box-shadow: var(--button-shadow);
	border-radius: 0.2em;
	width: fit-content;
}

button:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

ul {
	list-style: none;
}
